// Import page-specific CSS files here.
@import "home";

.wrapper {
  display: flex;
  background-color: rgb(245, 245, 245);

}

.container {
  border: black solid 1px;
  display: flex;
  justify-content:space-around;
}



.cards p {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 24px;

}


