<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 300, width: 285 , crop: :fill%>
<% else %>
  <%= cl_image_tag("prbk2e5cvojsvcehqtll",height: 300, width: 285 , crop: :fill) %>
<% end %>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Find me in app/views/users/show.html.erb</p>

