<div class="container flex-column mt-3">
    <%= simple_form_for([@vice, Conference.new]) do |form| %>
    <%= form.input :date, placeholder: 'Date à réserver', label: 'Choisir une date:' %>
    <%= form.button :submit, class:'btn btn-primary w-100' %>
  <% end %>
</div>


<style>
  div#ui-datepicker-div{
    z-index:1000!important;
  }
</style>
