<div class="container flex-column mt-3">
    <%= simple_form_for([@vice, Conference.new]) do |form| %>
    <%= form.input :date, :as => :string, :input_html => { :id => 'date' }, placeholder: 'Date à réserver', label: 'Choisir une date:' %>
    <%= form.button :submit, class:'btn btn-primary w-100' %>
  <% end %>
</div>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">
  $( function() {
    $( "#date" ).datepicker({ minDate: new Date(document.querySelector('#start').innerText), maxDate: new Date(document.querySelector('#end').innerText) });
  } );
</script>

<style>
  div#ui-datepicker-div{
    z-index:1000!important;
  }
</style>
