<div class="container">
    <%= simple_form_for([@vice, @conference]) do |form| %>
    <!-- TODO relié l'user_id Quentin 1702 -->
    <%= form.input :title %>
    <%= form.input :date %>
    <%= form.button :submit %>
  <% end %>
</div>
