<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close text-right text-white m-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">╳</span>
      </button>
      <div class="modal-body pt-0">
        <% if user_signed_in? %>
          <%= render "vices/new" %>
        <% else %>
          <%= render "devise/sessions/new" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
