<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('prbk2e5cvojsvcehqtll.jpg')%>)";>
  <div class="container">
    <h1><strong>adVICE me</strong>
    <p>Change your life & organize your conference with VICE politics</p>

    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
