<div class="banner" style="background-image: /*linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),*/ url(<%= cl_image_path('prbk2e5cvojsvcehqtll.jpg')%>)";>
  <div class="container">
    <h1><strong>adVICE me</strong>
    <p>Diffuser des idées qui en valent la peine</p>

    <a class="btn btn-flat" href="#"></a>
  </div>
</div>