.carousel-control-prev,
.carousel-control-next{
      bottom:-100%;
      filter: invert(1);
}
.carousel-control-prev{
    left: 35%;
}
.carousel-control-next{
  left: 50%;
}


.carousel-control-prev, .carousel-control-next {
top: 100%;
height: 20px;
}
