form{
  a{
    color: $gray;
  }
}

form a:hover {
  color: $pink;
  text-decoration: none;
}

label {
  text-transform: uppercase;
}

.nav-pills .nav-link{
  color: $pink;
}

.ap-name{
  color: #000;
}
