.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  h2{
    color: $pink;
  }
  p{
    color: $blue;
  }
}


@media (max-width: 768px) {
  #map{
    display: none;
  }
}
