.navbar {
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  top: 0;
  margin-bottom: 10vh;
  color: #fff;
  position: sticky;
  z-index: 1;
}

.navbar ul {
    margin: 0;
    vertical-align: middle;
    line-height: 45px;
}

.navbar li {
    margin: 0 25px;
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

img.navbar-brand {
  width: 65%;
}

.sign_in_btn{
  box-shadow: 7px 7px 0px $blue;
}

.add_btn {
  box-shadow: 7px 7px 0px $blue;
}

.dropdown-item{
  color: $gray;
}


@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -35px;
  top: 85px;
  z-index:4;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
}
}


