h1 {
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 5px 4px 0px #091A6C;
  display: inline-block;
  line-height: 16px;
  border-bottom: 16px solid #5CD4D4;
  padding: 0 15px;
}

h2, h3, h4{
  font-family: 'Montserrat', sans-serif
}

h3 {
  font-size: 40px;
}
