<h1>ADVIcE</h1>
<h2>Vices</h2>
<p>Find me in app/views/pages/index.html.erb</p>

<%= render 'shared/card' %>

<a href="" class="btn btn-primary">Salut</a>

<% @vices.each do |vice| %>
<ul>
  <li>
    <%= link_to vice.name, vice_path(vice) %>
  </li>
  <% end %>

</ul>


