
<div class="banner" style="margin-top:-10vh;background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('prbk2e5cvojsvcehqtll.jpg')%>)";>
  <div class="container-banner">
    <h1><strong>adVICE me</strong></h1>
    <p>We bring VICE ideas to naughty people</p>
    <p2>Diffuser des idées qui en valent la peine</p2>

    <a class="btn btn-flat" href="#"></a>
  </div>

<div class="cards">
  <div class="container">
    <%= render 'shared/card' %>
    <% @vices.each do |vice| %>
    <ul>
      <li>
        <%= link_to vice.name, vice_path(vice) %>
      </li>
      <% end %>
    </ul>
    <%= link_to 'deco', destroy_user_session_path, method: :delete%>
  </div>
</div>









